/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #476CF2;
$color-dark: #2B2B2B;
$color-pink: #FFC0C0;
$color-green: #88F247;
$color-red: #FF6666;
$color-yellow: #ffbb40;
$color-grey: #C4C4C4;
$color-light-grey: #f0f0f0;
$color-white: #FFFFFF;

$color-primary: $color-blue;
$color-secondary: $color-pink;
$color-tertiary: $color-green;
$color-body: $color-dark;
$color-danger: $color-red;
$color-warning: $color-yellow;
