.o-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    @include mq($from: desktop) {
        flex-direction: row;
    }
}
.o-column-center {
    width: 100%;
    @include mq($from: desktop) {
        width: calc(100% - 310px);
    }
}
.o-column-not-center {
    width: 100%;
    @include mq($from: desktop) {
        width: 155px;
    }
}